._w311_splitter_container {
	background: #ccc;
}

	._w311_splitter_container._w311_X {
		width: 1px;
	}

	._w311_splitter_container._w311_Y {
		height: 1px;
	}

._w311_splitter {
}

	._w311_splitter._w311_X {
		width: 3px;
	}

		._w311_splitter._w311_X._w311_1 {
			left: -1px;
		}

		._w311_splitter._w311_X._w311_0 {
			right: -1px;
		}

	._w311_splitter._w311_Y {
		height: 3px;
	}

		._w311_splitter._w311_Y._w311_1 {
			top: -1px;
		}

		._w311_splitter._w311_Y._w311_0 {
			bottom: -1px;
		}

._w311_ghost {
	background: rgba(128,128,128,0.5)
}