._w311_resizer_container {
	flex: 0;
	position: relative;
}

._w311_resizer {
	border: 0;
	position: absolute;
	z-index: 1;
}

._w311_resizer_ghost {
	background: rgba(128,128,128,0.5)
}

._w311_resizer_X {
	top: 0;
	bottom: 0;
	width: 3px;
	cursor: ew-resize;
}

._w311_resizer_X_1 {
	left: -1px;
}

._w311_resizer_X_0 {
	right: -1px;
}

._w311_resizer_Y {
	left: 0;
	right: 0;
	height: 3px;
	cursor: ns-resize;
}

._w311_resizer_Y_1 {
	top: -1px;
}

._w311_resizer_Y_0 {
	bottom: -1px;
}

